/* stylelint-disable no-unknown-animations */
.details-in-progress {
  padding-bottom: 3rem;
}

.details-in-progress {
  animation: fadeIn 2s 0s;
}

.details-container p {
  text-align: justify;
  padding: 1rem;
}

.img-title {
  position: relative;
  width: 100%;
}

.img-title img {
  max-width: 100%;
}

.details-container .list-ingredients {
  display: flex;
  flex-direction: column;
}

.details-container .list-ingredients label input {
  margin: 0 5px;
}

.img-title h1 {
  color: var(--terciary-light);
  font-size: 2.4rem;
  font-weight: 700;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  top: 70%;
  width: 100%;
}

.btn-copy-favorite {
  background-color: transparent;
  border: 1px solid var(--terciary-light);
  border-radius: 50%;
}

.share {
  background-color: transparent;
  border: transparent;
}

.share svg {
  color: var(--secondary-light);
  height: 44px;
  width: 40px;
}

.favorite svg {
  color: var(--secondary-light);
  height: 44px;
  width: 40px;
}

.copy-favorite {
  display: flex;
  position: absolute;
  top: 1%;
}

.link-copied {
  background-color: var(--secondary-light);
  border: 1px solid var(--terciary-light);
  border-radius: 10px;
  color: var(--terciary-light);
  margin-top: 0.8rem;
  padding: 0.2rem;
}

.category-title {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.instructions {
  padding: 0.5rem 1rem;
  text-align: justify;
}

.preview-recipe {
  max-width: 100%;
}

.start-finish-btn {
  background-color: var(--terciary-light);
  border: 2px solid var(--secondary-light);
  bottom: 0;
  color: var(--secondary-light);
  font-size: 1.2rem;
  font-weight: 600;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  z-index: 19;
}

.start-finish-btn:hover {
  background-color: var(--secondary-light);
  border: 2px solid var(--terciary-light);
  color: var(--terciary-light);
}

.disabled-button {
  bottom: 0;
  color: darkgray;
  font-size: 1.2rem;
  font-weight: 600;
  left: 0;
  padding: 0.5rem;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  z-index: 19;
}


.related-recipes {
  padding-top: 1rem;
  text-align: center;
}

